@import "common/variables";
@import "common/mixin";

.p-contact {

    padding: rem(20px) 0;

    @include mq("md", min) {
        padding: rem(50px) 0;
        display: flex;
        gap: rem(30px);
    }

    &__meta {

        line-height: 1.6;
        font-size: rem(14px);

        @include mq("md", min) {
            font-size: rem(16px);
            width: 50%;
        }
    }

    &__form {
        margin-top: rem(20px);
        @include mq("md", min) {
            margin-top: 0;
            width: 50%;
        }

        .form-group {
            margin-bottom: rem(5px);
            @include mq("md", min) {
                margin-bottom: rem(15px);  
            }
            input,
            textarea {
                width: 100%;
                padding: rem(10px);
                font-size: rem(15px);
                border: 1px solid #ccc;
                border-radius: rem(5px);
            }
        }

        .form-button {
            text-align: right;

            button {
                width: rem(100px);
                padding: rem(10px);
                background: $primary;
                font-size: rem(16px);
                text-transform: uppercase;
                border: none;
                border-radius: rem(5px);
            }
        }
    }
}